@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;display=swap');
body
{
 margin: 0;
 padding: 0;
 min-height: 100vh;
 font-family: 'PT Sans Narrow', sans-serif;
 overflow-y: hidden;
}
#card {
    position: relative;
    width: 320px;
    display: block;
    margin: 40px auto;
    text-align: center;
    margin-top: 100px;
}

#upper-side {
    padding: 2em;
    background-color: #8BC34A;
    display: block;
    color: #fff;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}


#status {
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    margin-top: -.2em;
    margin-bottom: 0;
}

#lower-side {
    padding: 2em 2em 5em 2em;
    background: #fff;
    display: block;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#message {
    margin-top: -.5em;
    color: #757575;
    letter-spacing: 1px;
}

#contBtn {
    position: relative;
    top: 1.5em;
    text-decoration: none;
    background: #8bc34a;
    color: #fff;
    margin: auto;
    padding: .8em 3em;
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.21);
    border-radius: 25px;
    -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
}

#contBtn:hover {
    -webkit-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    box-shadow: 0px 15px 30px rgba(50, 50, 50, 0.41);
    -webkit-transition: all .4s ease;
          -moz-transition: all .4s ease;
          -o-transition: all .4s ease;
          transition: all .4s ease;
}

.bannerText
{
 position: absolute;
 top: 60%;
 left: 10%;
 transform: translateY(-50%);
 max-width: 700px;
 margin-top: -50px;
}
.bannerText h2,
.bannerText h3
{
 position: relative;
 margin: 0;
 padding: 0;
 display: inline-block;
 transform-origin: left;
 text-transform: none;
 transform: scaleX(0);
 animation: revealTextReverse 1s ease-in-out forwards;
}
.bannerText h2
{
 font-size: 6em;
 animation-delay: 2s;
 margin-top: -90px;
}
.bannerText h3
{
 font-size: 3em;
 animation-delay: 3s;
}

.bannerText h2:before,
.bannerText h3:before
{
 content: '';
 position: absolute;
 top: 0;
 left: 0;
 background: #000;
 width: 100%;
 height: 100%;
 transform-origin: right;
 animation: revealText 1s ease-in-out forwards;
 animation-delay: 3s;
}
.bannerText h3:before
{
 animation-delay: 4s;
}
@keyframes revealText
{
 0%
 {
  transform: scaleX(1);
 }
 100%
 {
  transform: scaleX(0);
 }
}
@keyframes revealTextReverse
{
 0%
 {
  transform: scaleX(0);
 }
 100%
 {
  transform: scaleX(1);
 }
}
.bannerText p
{
 opacity: 0;
 font-weight: 400;
 font-size: 1.2em;
 animation: fadeIn 1s linear forwards;
 animation-delay: 3s;
 text-align: justify;
}
@keyframes fadeIn
{
 0%
 {
  opacity: 0;
 }
 100%
 {
  opacity: 1;
 }
}
.bannerText a
{
 opacity: 0;
 display: inline-block;
 margin: 20px 0 0;
 padding: 10px 20px;
 background: #000;
 color: #fff;
 font-weight: 700;
 text-decoration: none;
 font-size: 1.2em;
 letter-spacing: 1px;
 animation: fadeInBottom 0.5s linear forwards;
 animation-delay: 4.5s;
}
@keyframes fadeInBottom
{
 0%
 {
  transform: translateY(50px);
  opacity: 0;
 }
 100%
 {
  transform: translateY(0);
  opacity: 1;
 }
}


@keyframes fadeInRight
{
 0%
 {
  transform: translateX(150px);
  opacity: 0;
 }
 100%
 {
  transform: translateX(0);
  opacity: 1;
 }
}
